@model Editor.Models.EditorModel

@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <title>Track Changes Editor</title>
    <script src="/lib/ckeditor/ckeditor.js"></script>
    <script src="/lib/ckeditor/plugins/lite/lite-interface.js"></script>
    <script src="/lib/ckeditor/config.js"></script>
    <script src="/lib/ckeditor/samples/js/sample.js"></script>
    <link rel="stylesheet" href="/lib/ckeditor/samples/css/samples.css">
    <link rel="stylesheet" href="/lib/ckeditor/samples/toolbarconfigurator/lib/codemirror/neo.css">
</head>
<body id="main" style="margin: 10px">
    <nav class="navigation-a">
        <div class="grid-container">

            <ul class="navigation-a-left grid-width-70">
                <li><a style="font-size: 20px;">Editor with Track changes</a></li>
            </ul>
        </div>
    </nav>
    <br />
    Please enter the user name who is entering or modifying the document
    <br />
    @using (Html.BeginForm())
    {
        <span>User Name:</span> @Html.TextBoxFor(m => m.UserName);
        <br />
        <button type="submit">Login</button>
    }
</body>
</html>
